################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/S5GUIEditor/bin
/S5GUIEditor/obj
